a, a:hover
{
    border: none;
    color:#333;
    text-decoration: none;
}

img 
{
    border: none;
}

.container
{
    margin-top: 25px;
    padding: 0 5%;
}

.sidebar {
    position: fixed;
    border-right: 1px solid #EEE;
    top: 0;
    padding-top: 20px;
    bottom: 0;
}

.content {
    margin-left: 37%;
}

.author-title
{
    font-family: 'Georgia';
    display: block;
    margin: 10px 0 50px 0;
    font-size: 18px;
}

a.author-photo
{
    display: block;
    background-color: #EEE;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
}

a.author-photo img
{
    width: 200px;
    height: 200px;
}

.box-social
{
    display: block;
    margin: 35px auto 60px;
    padding: 20px 0;
    width: 172px;
}

.box-social a.social-link
{
    opacity: 0.5;
    margin: 4px;
    width: 35px;
    height: 35px;
    float: left;
}

figure {
    margin: 0 auto;
    padding: 0;
    width: 320px;
    display: block;
    text-align: center;
}

.box-social a.social-link:hover
{
    opacity: 0.9;
}

.box-social .social-link img
{
    width: 34px;
    height: 34px;
}

h1.post-title, .article-content h1
{
    font-family:'Cambria';
    margin: 0 0 20px 0;
    font-size: 24px;
}

.article-content h1
{
    margin: 0 0 10px 0;
    font-size: 30px;
    color: #222;
    font-weight: bold;
}

.article-photo
{
    background-color: #EEE;
    border-radius: 3px;
    width: 45%;
    margin: 0;
    float: left;
}

.article-content
{
    width: 55%;
    padding-left: 15px;
    float: left;
    font-family: 'Cambria';
    color: #444;
    font-size: 18px;
    text-align: justify;
}

p.article, p.article-no, .article
{
    font-family: 'Cambria';
    font-size: 18px;
    float: left;
    width: 100%;
    text-align: justify;
}

p.article:first-of-type:first-letter,
.article:first-of-type:first-letter
{
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 26px;
}

.article a
{
    color: #467eaf;
}

.article a:hover
{
    text-decoration: underline;
}

.article h1
{
    margin-top: 10px;
}

.article-title
{
    font-family: 'Cambria';
    float: left;
    font-weight: bold;
    width: 100%;
    margin: 5px 0;
    font-size: 17px;
}

.platform
{
    background-repeat: no-repeat;
    opacity: 0.7;
    float: left;
    width: 100px;
    height: 24px;
    margin: 3px;
}

.platform-title {
    padding: 2px 28px 0;
    float: left;
    text-transform: capitalize;
}


.linux
{
    background-image: url('../img/linux.png');
}

.windows
{
    background-image: url('../img/windows.png');
}

.container-nav
{
    font-family: 'Georgia';
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    float: left;
}

.container-nav ul.nav-links
{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #EEE;
}

.container-nav ul.nav-links li
{
    display: inline;
    padding: 10px 16px;
    margin: 0 2px;
    border-bottom: 2px solid #FFF;
}

.container-nav .nav-links a
{
    text-decoration: none;
    display: inline-block;
    color: #333;
}

.container-nav ul.nav-links a:hover li
{
    border-bottom: 2px solid #7bb6e8;
}

.container-nav .nav-links .current
{
    border-bottom: 2px solid #3594e5;
}

.thumb-min
{
    background-color: #EEE;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
}

b
{
    width: 100%;
    float: left;
}

article
{
    width: 100%;
    float: left;
    margin: 25px 0;
}

.article-picture
{
    background-color: #EEE;
    width: 100%;
    width: 320px;
    height: 310px;
    float: left;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px;
}

ul.pager a
{
    border: none;
    border-bottom: 1px solid #EEE;
}

#footer-article {
    width: 100%;
    height: 280px;
    margin: 20px 0;
}

div#mini-article {
    background-color: #EEE;
    border-radius: 5px;
    position: relative;
    width: 49%;
    height: 280px;
    margin: 0;
    padding: 0;
    float: left;
}

div#divider {
    width: 2%;
    float: left;
    height: 10px;
}

span.mini-article-title {
    position: absolute;
    width: 150px;
    text-align: center;
    top: 50%;
    left: calc(50% - 75px);
    font-size: 18px;
}

@media (max-width: 750px)
{
    .container
    {
        padding: 0 15px;
    }
    
    .sidebar {
        position: relative;
        border-right: 0;
        padding-top: 0;
    }
    
    .content {
        margin-left: 0;
    }
    
    .article-photo
    {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        float: left;
    }
    
    .article-content
    {
        width: 100%;
        padding: 0;
        float: left
    }
    
    p.article
    {
        font-family: 'Cambria';
        max-width: 100%;
        padding: 0;
    }
    
    h1.post-title,
    .article h1
    {
        font-family:'Cambria';
        margin: 0 0 20px 0;
        font-size: 34px;
        text-align: center;
    }
    
    .article-title
    {
        text-align: center;
    }
    
    .article-platforms
    {
        width: 100%;
        margin: 0 auto;
        display: table;
    }
    
    .platform
    {
        background-position: center top;
        width: 1%;
        float: none;
        display: table-cell;
    }
    
    span.platform-title
    {
        padding: 28px 0 0;
        width:100%;
        text-align: center;
    }
    
    .article-picture
    {
        width: 100%;
        margin: 10px 0 15px;
    }
    
    div#mini-article
    {
        width: 100%;
    }
}
