a, a:hover
{
    border: none;
    color:#333;
    text-decoration: none;
}

img 
{
    border: none;
}

.container
{
    margin-top: 25px;
    padding: 0 5%;
}

.author-title
{
    font-family: 'Georgia';
    display: block;
    margin: 10px 0 50px 0;
    font-size: 18px;
}

a.author-photo
{
    display: block;
    background-color: #EEE;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
}

a.author-photo img
{
    width: 200px;
    height: 200px;
}

.box-social
{
    display: block;
    margin: 35px auto 60px;
    padding: 20px 0;
    width: 172px;
}

.box-social a.social-link
{
    opacity: 0.5;
    margin: 4px;
    width: 35px;
    height: 35px;
    float: left;
}

.box-social a.social-link:hover
{
    opacity: 0.9;
}

.box-social .social-link img
{
    width: 34px;
    height: 34px;
}

h1.post-title
{
    font-family:'Cambria';
    margin: 0 0 20px 0;
    font-size: 24px;
}

.article-photo
{
    background-color: #EEE;
    border-radius: 3px;
    width: 45%;
    margin: 0;
    float: left;
}

.article-content
{
    width: 55%;
    padding-left: 15px;
    float: left;
}

p.article, p.article-no, .article
{
    font-family: 'Cambria';
    font-size: 18px;
    float: left;
    width: 100%;
    text-align: justify;
}

p.article:first-of-type:first-letter,
.article:first-of-type:first-letter
{
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 26px;
}

.article a
{
    color: #467eaf;
}

.article a:hover
{
    text-decoration: underline;
}

.article-title
{
    font-family: 'Cambria';
    float: left;
    font-weight: bold;
    width: 100%;
    margin: 5px 0;
    font-size: 17px;
}

.platform
{
    opacity: 0.7;
    float: left;
    width: 24px;
    height: 24px;
    margin: 3px;
}

.linux
{
    background-image: url('../img/linux.png');
}

.windows
{
    background-image: url('../img/windows.png');
}

.container-nav
{
    font-family: 'Georgia';
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    float: left;
}

.container-nav ul.nav-links
{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #EEE;
}

.container-nav ul.nav-links li
{
    display: inline;
    padding: 10px 16px;
    margin: 0 2px;
    border-bottom: 2px solid #FFF;
}

.container-nav .nav-links a
{
    text-decoration: none;
    display: inline-block;
    color: #333;
}

.container-nav ul.nav-links a:hover li
{
    border-bottom: 2px solid #7bb6e8;
}

.container-nav .nav-links .current
{
    border-bottom: 2px solid #3594e5;
}

.thumb-min
{
    background-color: #EEE;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
}

b
{
    width: 100%;
    float: left;
}

article
{
    width: 100%;
    float: left;
    margin: 25px 0;
}

ul.pager a
{
    border: none;
    border-bottom: 1px solid #EEE;
}

@media (max-width: 750px)
{
    .container
    {
        padding: 0 15px;
    }
    
    .article-photo
    {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        float: left;
    }
    
    .article-content
    {
        width: 100%;
        padding: 0;
        float: left
    }
    
    p.article
    {
        max-width: 100%;
        padding: 0;
    }
    
    h1.post-title
    {
        font-family:'Cambria';
        margin: 0 0 20px 0;
        font-size: 24px;
        text-align: center;
    }
    
    .article-title
    {
        text-align: center;
    }
    
    .article-platforms
    {
        width: 60px;
        margin: 0 auto;
    }
}
