---
layout: head
---
{% for post in site.posts %}
<article>
    <a href="{{post.url}}">
        <div class="article-photo">
            <img class="thumb-min" src="img/posts/{{post.image}}" />
        </div>
        <div class="article-content">
            <p class="article">
            {{post.content}}
            Ler Mais
            </p>
            <span class="article-title">Platforms</span>
            <div class="article-platforms">
                {% for tag in post.tags %}
                <div class="platform {{tag}}">
                    <span class="platform-title">{{tag}}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </a>
</article>
{% endfor %}
