<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>YW</title>
    <link rel="stylesheet" href="{{site.url}}/css/theme.css">
</head>
    
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="author-title"><b>Yuri Withowsky,</b> programmer</span>
                <a href="#">
                    <div class="author-photo"></div>
                </a>
                <div class="box-social">
                    <a class="social-link" target="_blank" href="https://www.facebook.com/YuriWitkowsky">
                        <img src="{{site.url}}/img/facebbook.png" />
                    </a>
                    <a class="social-link" target="_blank" href="https://br.linkedin.com/in/yuriwithowsky">
                        <img src="{{site.url}}/img/linkedin.png" />
                    </a>
                    <a class="social-link" target="_blank" href="https://www.behance.net/YuriWithowsky">
                        <img src="{{site.url}}/img/behance.png" />
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-nav">
                    <ul class="nav-links">
                        <a href="{{site.url}}index.html">
                            <li class="{% if page.url == '/index.html' %}current{% endif %}">Home</li>
                        </a>
                        <a href="{{site.url}}projects.html">
                            <li class="{% if page.url == '/projects.html' %}current{% endif %}">Projects</li>
                        </a>
                        <a href="#">
                            <li class="{% if page.url == '/contact.html' %}current{% endif %}">Contact me</li>
                        </a>
                    </ul>
                </div>
                {{content}}
                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="#">Antigos</a></li>
                        <li class="next"><a href="#">Novos</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>
