<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="css/theme.css">
</head>
    
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="author-title"><b>Yuri Withowsky,</b> game developer</span>
                <a href="{{site.url}}" class="author-photo">
                    <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10686849_714580505305232_6241090951563343431_n.jpg?oh=2ed9f4aa44452fd56b5cefaf7fbe9f73&oe=56491CE5&__gda__=1448503389_75e1859975ca85bdffd3befd09ca35a9" />
                </a>
                <div class="box-social">
                    {% for network in site.social %}
                    <a class="social-link" target="_blank" href="{{network.url}}">
                        <img src="{{site.url}}/img/{{network.title}}.png" />
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-nav">
                    <ul class="nav-links">
                        {% for nav in site.navigation %}
                        <a href="#">AA</a>
                        {% endfor %}
                        <a href="{{site.url}}/index.html">
                            <li class="{% if page.url == '/index.html' %}current{% endif %}">Projects</li>
                        </a>
                        <a href="{{site.url}}/contact.html">
                            <li class="{% if page.url == '/contact.html' %}current{% endif %}">Contact me</li>
                        </a>
                    </ul>
                </div>
                {{content}}
            </div>
        </div>
    </div>
</body>
</html>
